body{
    height: 100%;
}

.container-fluid{
    padding: 0;
}

.base-body{
    background-color: #ffffff;
}

h2{
    font-family: 'Roboto Slab', serif;
}

h3{
    font-family: 'Roboto Slab', serif;
    color: #231E5D;
}

.right-align{
    position: absolute;
    right: 0px;
}

.email-header{
    border-bottom: solid 1px grey;
    height: 75px;
    margin-top: 10px;
}

.email-body{
    border-bottom: solid 1px grey;
}

.div-head{
    /*background-image: -webkit-gradient(*/
        /*linear,*/
        /*left bottom,*/
        /*left top,*/
        /*color-stop(0, #FFFFFF),*/
        /*color-stop(1, #000080)*/
    /*);*/
    /*background-image: -o-linear-gradient(top, #FFFFFF 0%, #000080 100%);*/
    /*background-image: -moz-linear-gradient(top, #FFFFFF 0%, #000080 100%);*/
    /*background-image: -webkit-linear-gradient(top, #FFFFFF 0%, #000080 100%);*/
    /*background-image: -ms-linear-gradient(top, #FFFFFF 0%, #000080 100%);*/
    /*background-image: linear-gradient(to top, #FFFFFF 0%, #000080 100%);*/
    background-color: navy;
    margin-bottom: 7px;
    height: 10px;
}

header {
    /*background-image: url("/static/homepage/media/cream_background.png");*/
    /*padding: 24px 0;*/
    text-align: center;
    /*font-family: 'Pinyon Script', serif;*/
    /*font-size: 2.8em;*/
    color: navy;
    /*background-color: #FFFFFF;*/
    font-weight: bold;
}

.receipt-table{
    border-bottom: solid 1px grey;
}

.right-align{
    margin-right: 15px;
    text-align: right;
}

.receipt{
    font-size: 1.5em;
}

/*main{*/
    /*position: relative;*/
/*}*/

.side-div{
    background-color: #231E5D;
    height: 1500px;
}

/*.middle-div{*/
    /*position: relative;*/
/*}*/

#love {
    margin: 5px 0px 5px 0px;
    font-size: 2em;

}