<%inherit file="/homepage/templates/base.htm" />

<%block name="content_center">

    <div>
        <p></p>
    </div>

    <div class="container">
        <p id="love" class="list-group-item-heading">Checkout: easy as 1, 2, 3!</p>
        <div class="row form-group">
            <div class="col-xs-12">
                <ul class="nav nav-pills nav-justified thumbnail setup-panel">
                    <li class="active"><a href="#step-1">
                        <h4 class="list-group-item-heading">Step 1: Review</h4>
                    </a></li>
                    <li class="disabled"><a href="#step-2">
                        <h4 class="list-group-item-heading">Step 2: Shipping and Payment</h4>
                    </a></li>
                    <li class="disabled"><a href="#step-3">
                        <h4 class="list-group-item-heading">Step 3: Confirmation</h4>
                    </a></li>
                </ul>
            </div>
        </div>
        <div class="row setup-content" id="step-1">
            <div class="col-xs-12">
                <div class="col-md-12 well text-center">
                    ### step 1
                    <div class="container">
                        <div class="row">
                            <div class="col-xs-8">
                                <div class="panel panel-info">
                                    <div class="panel-heading">
                                        <div class="panel-title">
                                            <div class="row">
                                                <div class="col-xs-6">
                                                    <h5><span class="glyphicon glyphicon-shopping-cart"></span> Shopping Cart Review</h5>
                                                </div>
                                                <div class="col-xs-6">
                                                    <button type="button" class="btn btn-primary btn-sm btn-block">
                                                        <span class="glyphicon glyphicon-share-alt"></span> Continue shopping
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="panel-body">
                                        %if len(lineitems) > 0:
                                            <h3>Sale Items</h3>
                                        %endif
                                        %for lineitem in lineitems:
                                        <div class="row">
                                            <div class="col-xs-2"><img class="img-responsive" src="${ STATIC_URL }retail/media/${ lineitem.product_name() }.jpg/">
                                            </div>
                                            <div class="col-xs-4">
                                                <h4 class="product-name"><strong>${ lineitem.product_name() }</strong></h4><h4><small>Product description</small></h4>
                                            </div>
                                            <div class="col-xs-6">
                                                <div class="col-xs-6 text-right">
                                                    <h6><strong>${ lineitem.product_price() }<span class="text-muted">x</span></strong></h6>
                                                </div>
                                                <div class="col-xs-4">
                                                    <input type="text" class="form-control input-sm" value=${ lineitem.quantity }>
                                                </div>
                                                <div class="col-xs-2">
                                                    <button type="button" class="btn btn-link btn-xs">
                                                        <span class="glyphicon glyphicon-trash"> </span>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                        <hr>
                                        %endfor
                                        %if len(rentalitems) > 0:
                                            <h3>Rental Items</h3>
                                        %endif
                                        %for rentalitem in rentalitems:
                                        <div class="row">
                                            <div class="col-xs-2"><img class="img-responsive" src="http://placehold.it/100x70">
                                            </div>
                                            <div class="col-xs-4">
                                                <h4 class="product-name"><strong>${ rentalitem.rental_item_name() }</strong></h4><h4><small>Rental description</small></h4>
                                            </div>
                                            <div class="col-xs-6">
                                                <div class="col-xs-6 text-right">
                                                    <h6><strong>${ rentalitem.rental_item_price() } <span class="text-muted">x</span></strong></h6>
                                                </div>
                                                <div class="col-xs-4">
                                                    <input type="text" class="form-control input-sm" value="1">
                                                </div>
                                                <div class="col-xs-2">
                                                    <button type="button" class="btn btn-link btn-xs">
                                                        <span class="glyphicon glyphicon-trash"> </span>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                        <hr>
                                        %endfor
                                        %if len(returnitems) > 0:
                                            <h3>Return Items</h3>
                                        %endif
                                        %for returnitem in returnitems:
                                        <div class="row">
                                            <div class="col-xs-2"><img class="img-responsive" src="http://placehold.it/100x70">
                                            </div>
                                            <div class="col-xs-4">
                                                <h4 class="product-name"><strong>${ returnitem.return_item_name() }</strong></h4><h4><small>Rental description</small></h4>
                                            </div>
                                            <div class="col-xs-6">
                                                <div class="col-xs-6 text-right">
                                                    <h6><strong>${ returnitem.return_line_item.rental_line_item.calc_returntotal() } <span class="text-muted">x</span></strong></h6>
                                                </div>
                                                <div class="col-xs-4">
                                                    <input type="text" class="form-control input-sm" value="1">
                                                </div>
                                                <div class="col-xs-2">
                                                    <button type="button" class="btn btn-link btn-xs">
                                                        <span class="glyphicon glyphicon-trash"> </span>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                        <hr>
                                        %endfor
                                        <div class="row">
                                            <div class="text-center">
                                                <div class="col-xs-9">
                                                    <h6 class="text-right">Added items?</h6>
                                                </div>
                                                <div class="col-xs-3">
                                                    <button type="button" class="btn btn-default btn-sm btn-block">
                                                        Update cart
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="panel-footer">
                                        <div class="row text-center">
                                            <div class="col-xs-9">
                                                <h5 class="text-right">Sub Total <strong>$ ${ subtotal }</strong></h5>
                                                <h5 class="text-right">Tax <strong>$ ${ tax }</strong></h5>
                                                <h4 class="text-right">Total <strong>$ ${ total }</strong></h4>
                                            </div>
                                            <div class="col-xs-3">
                                                <a href="/retail/checkout.payment/" type="button" class="btn btn-success btn-block">
                                                    Next Step
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</%block>
