<%inherit file="/homepage/templates/base.htm" />
##{% load bootstrap_tags %}
<%block name="content_center">

    <div>
        <p></p>
    </div>

    <div class="container">
        <p id="love" class="list-group-item-heading">Checkout: easy as 1, 2, 3!</p>
        <div class="row form-group">
            <div class="col-xs-12">
                <ul class="nav nav-pills nav-justified thumbnail setup-panel">
                    <li class="disabled"><a href="checkout.review.html">
                        <h4 class="list-group-item-heading">Step 1: Review</h4>
                    </a></li>
                    <li class="active"><a href="checkout.payment.html">
                        <h4 class="list-group-item-heading">Step 2: Shipping and Payment</h4>
                    </a></li>
                    <li class="disabled"><a href="#step-3">
                        <h4 class="list-group-item-heading">Step 3: Confirmation</h4>
                    </a></li>
                </ul>
            </div>
        </div>

        <form id="PaymentForm" method="POST">
            <table>
                ${ form }
            </table>
            <br/>
            <button class="btn btn-success" type="submit">Process Payment</button>
        </form>
    </div>
</%block>

##        <div class="row setup-content" id="step-2">
##            <div class="col-xs-12">
##                <div class="col-md-12 well">
##                    ### step 2
##                        <div class="container">
##                          <form class="form-horizontal" role="form">
##                            <fieldset>
##                              <!-- Form Name -->
##                              <legend>Billing Address</legend>
##                              <!-- Text input-->
##                              <div class="form-group">
##                                <label class="col-sm-3 control-label" for="textinput"> Line 1 </label>
##                                <div class="col-sm-5">
##                                  <input type="text" placeholder="Address Line 1" class="form-control" value="">
##                                    ${ form.address|bootstrap }
##                                </div>
##                              </div>
##                              <!-- Text input-->
##                              <div class="form-group">
##                                <label class="col-sm-3 control-label" for="textinput">Line 2</label>
##                                <div class="col-sm-5">
##                                  <input type="text" placeholder="Address Line 2" class="form-control">
##                                </div>
##                              </div>
##                              <!-- Text input-->
##                              <div class="form-group">
##                                <label class="col-sm-3 control-label" for="textinput">City</label>
##                                <div class="col-sm-3">
##                                  <input type="text" placeholder="City" class="form-control" value="">
##                                    ${ form.city|bootstrap }
##                                </div>
##                              </div>
##                              <!-- Text input-->
##                              <div class="form-group">
##                                <label class="col-sm-3 control-label" for="expiry-month">State</label>
##                                    <div class="col-sm-9">
##                                      <div class="row">
##                                        <div class="col-xs-3">
##                                          <select class="form-control col-sm-2" name="state" id="state" data-state="">
##                                              ${ form.state|bootstrap }
##                                            <option>State</option>
##                                                <option value="AL">AL</option>
##                                                <option value="AK">AK</option>
##                                                <option value="AZ">AZ</option>
##                                                <option value="AR">AR</option>
##                                                <option value="CA">CA</option>
##                                                <option value="CO">CO</option>
##                                                <option value="CT">CT</option>
##                                                <option value="DE">DE</option>
##                                                <option value="DC">DC</option>
##                                                <option value="FL">FL</option>
##                                                <option value="GA">GA</option>
##                                                <option value="HI">HI</option>
##                                                <option value="ID">ID</option>
##                                                <option value="IL">IL</option>
##                                                <option value="IN">IN</option>
##                                                <option value="IA">IA</option>
##                                                <option value="KS">KS</option>
##                                                <option value="KY">KY</option>
##                                                <option value="LA">LA</option>
##                                                <option value="ME">ME</option>
##                                                <option value="MD">MD</option>
##                                                <option value="MA">MA</option>
##                                                <option value="MI">MI</option>
##                                                <option value="MN">MN</option>
##                                                <option value="MS">MS</option>
##                                                <option value="MO">MO</option>
##                                                <option value="MT">MT</option>
##                                                <option value="NE">NE</option>
##                                                <option value="NV">NV</option>
##                                                <option value="NH">NH</option>
##                                                <option value="NJ">NJ</option>
##                                                <option value="NM">NM</option>
##                                                <option value="NY">NY</option>
##                                                <option value="NC">NC</option>
##                                                <option value="ND">ND</option>
##                                                <option value="OH">OH</option>
##                                                <option value="OK">OK</option>
##                                                <option value="OR">OR</option>
##                                                <option value="PA">PA</option>
##                                                <option value="RI">RI</option>
##                                                <option value="SC">SC</option>
##                                                <option value="SD">SD</option>
##                                                <option value="TN">TN</option>
##                                                <option value="TX">TX</option>
##                                                <option value="UT">UT</option>
##                                                <option value="VT">VT</option>
##                                                <option value="VA">VA</option>
##                                                <option value="WA">WA</option>
##                                                <option value="WV">WV</option>
##                                                <option value="WI">WI</option>
##                                                <option value="WY">WY</option>
##                                          </select>
##                                        </div>
##                                      </div>
##                                    </div>
##                              </div>
##                                <div class="form-group">
##                                    <label class="col-sm-3 control-label" for="textinput">Postal Code</label>
##                                    <div class="col-sm-3">
##                                      <input type="text" placeholder="Postal Code" class="form-control" value="">
##                                        ${ form.zip|bootstrap }
##                                    </div>
##                                </div>
##                                <div class="form-group">
##                                    <label class="col-sm-3 control-label" for="textinput"></label>
##                                    <div class="col-sm-3">
##                                        <form action="demo_form.asp">
##                                          <input type="checkbox" name="shipping" value="shipping" checked> Shipping address same as billing<br>
##                                        </form>
##                                    </div>
##                                </div>
##                                 <div class="form-group">
##                                    <label class="col-sm-3 control-label" for="textinput"></label>
##                                    <div class="col-sm-3">
##                                        <form action="demo_form.asp">
##                                          <input type="checkbox" name="save" value="save"> Save for later<br>
##                                        </form>
##                                    </div>
##                                </div>
##
##                            </fieldset>
##                          </form>
##                        </div><!-- /.col-lg-12 -->
##
##                    <div class="container">
##                      <form class="form-horizontal" role="form">
##                        <fieldset>
##                          <legend>Payment</legend>
##                          <div class="form-group">
##                            <label class="col-sm-3 control-label" for="card-holder-name">Name on Card</label>
##                            <div class="col-sm-5">
##                              <input type="text" class="form-control" name="card-holder-name" id="card-holder-name" placeholder="Card Holder's Name">
##                                ${ form.name|bootstrap }
##                            </div>
##                          </div>
##                          <div class="form-group">
##                            <label class="col-sm-3 control-label" for="card-number">Card Number</label>
##                            <div class="col-sm-5">
##                              <input type="text" class="form-control" name="card-number" id="card-number" placeholder="Debit/Credit Card Number">
##                                ${ form.number|bootstrap }
##                            </div>
##                          </div>
##                          <div class="form-group">
##                            <label class="col-sm-3 control-label" for="expiry-month">Expiration Date</label>
##                            <div class="col-sm-9">
##                              <div class="row">
##                                <div class="col-xs-3">
##                                  <select class="form-control col-sm-2" name="expiry-month" id="expiry-month">
##                                      ${ form.exp_month|bootstrap }
##                                    <option>Month</option>
##                                    <option value="01">Jan (01)</option>
##                                    <option value="02">Feb (02)</option>
##                                    <option value="03">Mar (03)</option>
##                                    <option value="04">Apr (04)</option>
##                                    <option value="05">May (05)</option>
##                                    <option value="06">June (06)</option>
##                                    <option value="07">July (07)</option>
##                                    <option value="08">Aug (08)</option>
##                                    <option value="09">Sep (09)</option>
##                                    <option value="10">Oct (10)</option>
##                                    <option value="11">Nov (11)</option>
##                                    <option value="12">Dec (12)</option>
##                                  </select>
##                                </div>
##                                <div class="col-xs-3">
##                                  <select class="form-control" name="expiry-year">
##                                      ${ form.exp_year|bootstrap }
##                                    <option value="13">2013</option>
##                                    <option value="14">2014</option>
##                                    <option value="15">2015</option>
##                                    <option value="16">2016</option>
##                                    <option value="17">2017</option>
##                                    <option value="18">2018</option>
##                                    <option value="19">2019</option>
##                                    <option value="20">2020</option>
##                                    <option value="21">2021</option>
##                                    <option value="22">2022</option>
##                                    <option value="23">2023</option>
##                                  </select>
##                                </div>
##                              </div>
##                            </div>
##                          </div>
##                          <div class="form-group">
##                            <label class="col-sm-3 control-label" for="cvv">Card CVV</label>
##                            <div class="col-sm-3">
##                              <input type="text" class="form-control" name="cvv" id="cvv" placeholder="Security Code">
##                                ${ form.cvv|bootstrap }
##                            </div>
##                          </div>
##                          <div class="form-group">
##                            <div class="col-sm-offset-3 col-sm-9">
##                              <button type="submit" class="btn btn-warning">Place Order</button>
##                            </div>
##                          </div>
##                        </fieldset>
##                      </form>
##                    </div>
##                </div>
##            </div>
##        </div>
##          </form>

