<%block name="content_center">
    <div>
        <div class="email-header">
            <p class="col-md-6"></p>
            <h2 class="col-md-3 right-align">Order Confirmation</h2>
        </div>
        <div class="email-body">
            <h3>Hello ${ user.first_name },</h3>
            <p>Thank you for shopping with us. Below are the details for your purchase on ${ today }.</p>
            <h3>Details</h3>
            <p>Order #: ${ resp['ID'] }</p>
        </div>
        <h3>Sale Items</h3>
        <table class="table table-condensed receipt-table">
            <thead>
                <tr>
                    <th>Photo</th>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Quantity</th>
                    <th>Price</th>
                </tr>
            </thead>
            <tbody>
                %for lineitem in lineitems:
                <tr>
                    <td><img style="max-width: 150px;" src="${ STATIC_URL }retail/media/${ lineitem.product_name() }.jpg/"
                         alt="Picture" class="description"/>
                    </td>
                    <td>${ lineitem.product_name() } </td>
                    <td>${ lineitem.product.description } </td>
                    <td><input class="col-md-2" type="text"  value="1" disabled/></td>
                    <td><input class="col-md-3" type="text" value="${ lineitem.product_price() }" disabled/></td>
                </tr>
                %endfor
            </tbody>
          </table>

        <br/>
            <h3>Rental Items</h3>
            <table class="table table-condensed receipt-table">
            <thead>
                <tr>
                    <th>Photo</th>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Quantity</th>
                    <th>Price</th>
                </tr>
            </thead>
            <tbody>
                %for rentalitem in rentalitems:
                    <tr>
                        <td><img style="max-width: 150px;" src=""
                             alt="Picture" class="description"/>
                        </td>
                        <td>${ rentalitem.rental_item_name() } </td>
                        <td>${ rentalitem.rental_item_description() } </td>
                        <td><input class="col-md-2" type="text"  value="1" disabled/></td>
                        <td><input class="col-md-3" type="text" value="${ rentalitem.rental_item_price() }" disabled/></td>
                    </tr>
                %endfor
            </tbody>
        </table>
        <div class="right-align receipt">
            <p>Subtotal: $${ subtotal }</p>
            <p>Tax (6.5%): $${ tax }</p>
            <p  class="receipt">Total: $${ total }</p>
        </div>
    </div>
</%block>