<%inherit file="/homepage/templates/base.htm" />

<%block name="content_center">

    <div>
        <h2 style="text-decoration: underline">Products</h2>
        <a href="/homepage/product.create/" class="btn btn-success"><i class="fa fa-plus"></i> Add New Product</a>

##        <div class="text-right">

##        <a href="/retail/product.batch/" class="btn btn-primary">See Overdue Rentals</a>
##        </div>

        <div class="pull-right">
            <input placeholder=" Search Products" id="search"/>
        </div>

        <ul id="product_list">
            %for product in products:
            <li>
                <div>
                    <img class="description product-image" src="${ STATIC_URL }retail/media/${ product.name }.jpg/">
                </div>
                <div>
                    <a href="/retail/product.detail/${ product.id }/">${ product.name }</a>
                </div>
                    <p>$${ product.price }</p>
##                        <div class="btn-group"  role="group" aria-label="...">
##                            <a href="/retail/product.edit/${ product.id }/" type="button"  class="btn btn-default"><i class="fa fa-edit"></i></a>
##                            <a href="/retail/product.delete/${ product.id }/" type="button" class="btn btn-danger"><i class="fa fa-trash"></i></a>
##                        </div>
##                    </div>
            </li>
            %endfor
        </ul>
        </div>
</%block>