<%inherit file="/homepage/templates/base.htm" />

<%block name="content_center">

    <div>
        <h3 style="text-decoration: underline">Rented Items</h3>

        <a href="/retail/product.overduereport/" class="btn btn-primary" pull-right>See All Overdue Rentals</a>
        <br/><br/>
        <form id="search" method="post" action="rental.search">
            <input type="text" placeholder=" Search"/>
        </form>
        <br/>
        <table class="table table-striped" style="background-color: white; border: .5px solid #DDDDDD">
        <tr>
            <th>Name</th>
            <th>Quantity</th>
            <th>Rental Price</th>
            <th>Price Per Day</th>
            <th>Date Due</th>
            <th>Renter</th>
            <th></th>
        </tr>
         %for lineitem in lineitems:
            <tr>
                <td>${ lineitem.rental_line_item.rentable_item.name }</td>
                <td>${ lineitem.quantity }</td>
                <td>${ lineitem.rental_line_item.rentable_item.rental_price }</td>
                <td>${ lineitem.rental_line_item.rentable_item.price_per_day }</td>
                <td>${ lineitem.rental_line_item.date_due }</td>
                <td>${ lineitem.user.get_full_name() }</td>
                <td><button data-rid="${ lineitem.rental_line_item.id }" type="button" class="btn btn-success return_lineitem">Return Item</button></td>
            </tr>
         %endfor
         </table>
    </div>
</%block>