## this is the skeleton of all pages on in this app - it defines the basic html tags

## set up a StaticRenderer object to enable the CSS/JS automatic inclusion magic.
<%! from django_mako_plus.controller import static_files %>
<%  static_renderer = static_files.StaticRenderer(self) %>

<!DOCTYPE html>
<html>
    <meta charset="UTF-8">
    <head>

        <title>homepage</title>

        ## add any site-wide scripts or CSS here; for example, jquery:
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

        ## fonts
        <link href='http://fonts.googleapis.com/css?family=Roboto+Slab:400,700,300,100' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Libre+Baskerville:400,400italic,700' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Crimson+Text:400,600' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Pinyon+Script' rel='stylesheet' type='text/css'>

        ## adding bootstrap
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>




        ## render the css with the same name as this page
        ${ static_renderer.get_template_css(request, context)  }

    </head>

    <body>

        <header>
            <link rel="icon" type="image/x-icon" href="/static/homepage/media/colonial_flag.jpg" />
            <div id="div-head"></div>
            <div class="container-fluid">
                <div class="col-xs-3" >
                    <img src="/static/homepage/media/ch_logo.png" height="75">
                </div>
                <div class="col-xs-4"></div>
                <div class="col-xs-5" style="text-align: right;margin-top: 20px">
                    <ul class="nav nav-tabs">
                        <li role="menu"><a href="/homepage/index/">Home</a></li>
                        <li role="log_in"><a href="/homepage/log_in/">Log In</a></li>
                         <li role="event"><a href="/homepage/event/">Event</a></li>
##                        <li role="menu"><a href="/homepage/index/">Home</a></li>
##                        <li role="menu"><a href="/homepage/index/">Home</a></li>
                        <li role="menu"><a href="/homepage/inventory/">Inventory</a></li>
                        <li role="menu"><a href="/homepage/events/">Events</a></li>
                        <li role="menu"><a href="/homepage/terms/">Terms of Service <span class="badge">Updated</span></a></li>
                    </ul>
                </div>
            </div>
            <div style="background-color: #A41425; height: 2px"></div>
        </header>

        <div class="container-fluid base-body">
            <div class="col-xs-1" style="background-color: navy; height: 1000px">
##                <%block name="content_left">
##                    <div>
##                        <ul class="nav nav-pills nav-stacked">
##                            <li role="menu"><a href="/homepage/index/">Home</a></li>
##                            <li role="menu"><a href="/homepage/about/">About</a></li>
##                            <li role="menu"><a href="/homepage/contact/">Contact</a></li>
##                            <li role="menu"><a href="/homepage/terms/">Terms of Service <span class="badge">Updated</span></a></li>
##                        </ul>
##                    </div>
##                </%block>
            </div>
            <div class="col-xs-10">
                <%block name="content_center">

                </%block>
            </div>
            <div class="col-xs-1" style="background-color: navy; height: 1000px"></div>
        </div>

        ## render the JS with the same name as this page
        ${ static_renderer.get_template_js(request, context)  }

    </body>
</html>