<%inherit file="base.htm" />

<%block name="content_center">
<h2 style="text-decoration: underline">Events</h2>
    <div style="margin-top: 10px" class="container-fluid">

        <div style="margin-top: 10px">

           <button style="margin-bottom: 15px" type="submit" class="btn btn-success">Add Event</button>
           <table class="table table-striped" style="background-color: white; border: .5px solid #DDDDDD">
                <tr>
                    <th>Event Name</th>
                    <th>Location</th>
                    <th>Event Area</th>
                    <th>Description</th>
                    <th>Start Date</th>
                    <th>End Date</th>
                    <th>Edit/Delete</th>
                </tr>
                <tr>
                    <td>Colonial Festival</td>
                    <td>Orem, UT</td>
                    <td>Area 3</td>
                    <td>The Foundation sponsors the Colonial Heritage Festival, the largest colonial living and reenactment event west of the Mississippi River.</td>
                    <td>July 4th</td>
                    <td>July 5th</td>
                    <td>
                        <div class="btn-group" role="group" aria-label="...">
                            <button type="button" class="btn btn-default"><i class="fa fa-edit"></i></button>
                            <button type="button" class="btn btn-danger"><i class="fa fa-trash"></i></button>
                        </div>
                    </td>
                </tr>
           </table>

        </div>

    </div>
</%block>