<%inherit file="base.htm" />

<%block name="content_center">

    <div>
        <h2 style="text-decoration: underline">Inventory</h2>
        <ul class="nav nav-tabs" style="background-color: white">
            <li role="menu"><a href="/homepage/index/">Item</a></li>
            <li role="menu"><a href="/homepage/inventory/">Product</a></li>
        </ul>

        <button class="btn btn-success" href="#addItem" style="margin: 5px 0px 15px 0px;" type="button" data-toggle="modal" data-target="#form-modal" >Add item</button>
        <table class="table table-striped" style="background-color: white; border: .5px solid #DDDDDD">
            <thead>
                <th>Name</th>
                <th>Description</th>
                <th>Value</th>
                <th>Rental Price</th>
                <th>Size</th>
                <th>Size Modifier</th>
                <th>Gender</th>
                <th>Color</th>
                <th>Pattern</th>
                <th>Start Year</th>
                <th>End Year</th>
                <th>Note</th>
                <th>Edit/Delete</th>
            </thead>
            <tbody>
                <tr>
                    <td>Blue Britches</td>
                    <td>A pair of blue cotton britches</td>
                    <td>$35.00</td>
                    <td>$3.00</td>
                    <td>M</td>
                    <td>-</td>
                    <td>Male</td>
                    <td>Blue</td>
                    <td>Striped</td>
                    <td>1820</td>
                    <td>1850</td>
                    <td></td>
                    <td>
                        <div class="btn-group" role="group" aria-label="...">
                            <button type="button" class="btn btn-default"><i class="fa fa-edit"></i></button>
                            <button type="button" class="btn btn-danger"><i class="fa fa-trash"></i></button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="modal fade" id="form-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
              <h4 class="modal-title">Add Item</h4>
            </div>
            <div id="form-modal-body" class="modal-body">
                <form>
                  <div class="form-group">
                    <label for="exampleInputName">Name</label>
                    <input type="name" class="form-control" id="exampleName" placeholder="Enter name">
                  </div>
                  <div class="form-group">
                    <label for="exampleInputDescription">Description</label>
                    <input type="description" class="form-control" id="exampleInputDescription" placeholder="Description">
                  </div>
                  <div class="form-group">
                    <label for="exampleInputDescription">Value</label>
                    <input type="value" class="form-control" id="exampleInputValue" placeholder="Value">
                  </div>
                  <div class="form-group">
                    <label for="exampleInputDescription">Rental Price</label>
                    <input type="rentalprice" class="form-control" id="exampleInputrentalprice" placeholder="Rental Price">
                  </div>
                  <div class="form-group">
                    <label for="exampleInputDescription">Size</label>
                    <input type="size" class="form-control" id="exampleInputSize" placeholder="Size">
                  </div>
                  <div class="form-group">
                    <label for="exampleInputDescription">Size Modifier</label>
                    <input type="sizeModifier" class="form-control" id="exampleInputSizeModifier" placeholder="Size Modifier">
                  </div>
                  <div class="form-group">
                    <label for="exampleInputDescription">Gender</label>
                    <input type="Gender" class="form-control" id="exampleInputGender" placeholder="Gender">
                  </div>
                  <div class="form-group">
                    <label for="exampleInputDescription">Color</label>
                    <input type="color" class="form-control" id="exampleInputColor" placeholder="Color">
                  </div>
                  <div class="form-group">
                    <label for="exampleInputDescription">Pattern</label>
                    <input type="pattern" class="form-control" id="exampleInputPattern" placeholder="Pattern">
                  </div>
                  <div class="form-group">
                    <label for="exampleInputDescription">Start Year</label>
                    <input type="startYear" class="form-control" id="exampleInputStartYear" placeholder="Start Year">
                  </div>
                  <div class="form-group">
                    <label for="exampleInputDescription">End Year</label>
                    <input type="End Year" class="form-control" id="exampleInputEndYear" placeholder="End Year">
                  </div>
                  <div class="form-group">
                    <label for="exampleInputDescription">Note</label>
                    <input type="note" class="form-control" id="exampleInputNote" placeholder="Note">
                  </div>

                </form>
           </div>
           <div class="modal-footer">
             <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
             <button type="submit" class="btn btn-default">Submit</button>
           </div>
         </div>
       </div>
    </div>
</%block>