<%inherit file="base.htm" />
<%block name="content_center">

    <h2 style="text-decoration: underline">Venues</h2>
    <div class="clearfix"></div>
    <div class="text-right">
        <a href="/homepage/venue.create/" class="btn btn-success">Add New Venue</a>
    </div>

    <table class="table table-stripped table-bordered">
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Address</th>
            <th>City</th>
            <th>State</th>
            <th>ZIP</th>
            <th>Edit/Delete</th>
        </tr>
        %for venue in venues:
            <tr>
                <td>${ venue.id }</td>
                <td>${ venue.name }</td>
                <td>${ venue.address }</td>
                <td>${ venue.city }</td>
                <td>${ venue.state }</td>
                <td>${ venue.zip }</td>
                <td>
                    <div class="btn-group" role="group" aria-label="...">
                        <a type="button" class="btn btn-default" href="/homepage/venue.edit/${ venue.id }/"><i class="fa fa-edit"></i></a>
                        <button type="button" data-toggle="modal" data-target="#form-modal" class="btn btn-danger"><i class="fa fa-trash"></i></button>
                        <div class="modal fade" id="form-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                        <h4 class="modal-title">Delete Warning</h4>
                                    </div>
                                    <div id="form-modal-body" class="modal-body">
                                        <p>Are you sure you want to delete ${ venue.name }</p>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                                        <a href="/homepage/venue.delete/${ venue.id }/" class="btn btn-danger">Delete</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
        %endfor
    </table>
</%block>